$primary-color: #5e6821;
$secondary-color: #fbbc34;
$text-color: #777;
$title-color: #242424;
$font-family-primary: "SatoshiVariable", Arial, Helvetica, sans-serif;
$font-family-title: "ClashDisplay", Arial, Helvetica, sans-serif;
$default-padding: 15px;
