@use "../utills/" as *;

.button__prime {
  background-color: $backgraund-color;
  height: 2.5rem;
  width: 5rem;
  border: none;
  color: aliceblue;
}
.button__prime:hover {
  background-color: #535c1b;
  transition: ease-in-out 0.3s;
}
